@tailwind base;

input {
  @apply py-3;
  @apply leading-6;
  @apply border-none;
  @apply rounded-none;
  @apply box-border;
  @apply text-gray-800;
  @apply outline-none;
}

input[type="text"]::placeholder {
  @apply text-gray-600;
}

input[type="text"][disabled] {
  @apply opacity-50;
}

@tailwind components;

.custom-label input:checked + .shadow-checkbox {
  @apply shadow-none;
}

.custom-label input:checked + .shadow-checkbox > svg {
  display: block;
}

@variants hover {
  .bg-gradient-list-item {
    background-image: linear-gradient(to bottom, #e5f9f7 0%, #f0fffd 100%);
  }
}

.list-items {
  @apply relative bg-white min-h-72;
}

.loading-item + .loading-item {
  @apply border-t border-solid border-gray-200;
}

@tailwind utilities;

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.glow-item {
  animation: glow 1.5s ease-in-out infinite;
  @apply inline-block bg-gray-300 text-transparent cursor-progress;
}